{% extends 'scheduling/dashboard_template.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated and user.user_type == "assistant" %}
<div class="row">
      <div class="container col-2 col-lg-3"></div>
      <div class="container col-8 col-lg-6">

            <div class="jumbotron form_container">
                  <h2>Add a User</h2>
                  <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-info">Register</button>
                  </form>

                  <button class="btn btn-dark">
                        <a href="{% url 'assistant_portal' %}">Return</a>
                  </button>

                  {% if success  %}
                  <div class="toast">
                        <div class="toast-header">
                              {{success}}
                        </div>
                        <div class="toast-body">
                              {{form.patient.value}}
                        </div>
                  </div>
                  {% endif %}
            </div>
      </div>

      <div class="container col-2 col-lg-3"></div>
      {% endif %}
      {% endblock %}