{% extends 'scheduling/base.html' %}
{% load staticfiles %}
{% load static %}
{% load crispy_forms_tags %}
  {% block content %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="d-flex flex-grow-1">
      <span class="w-100 d-lg-none d-block">
        <!-- hidden spacer to center brand on mobile --></span>
      <a class="navbar-brand d-none d-lg-inline-block" href="#">
        <img src="{% static 'images/caduceus.png' %}" alt="Logo" style="width:40px;">KungFuMD
      </a>
      <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
        <img src="//placehold.it/40?text=LOGO" alt="logo">
      </a>
      <div class="w-100 text-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
      <ul class="navbar-nav ml-auto flex-nowrap">

        <li class="nav-item">
          <a href="#" class="nav-link m-2 menu-item nav-active">Schedule an Appointment
            <i class="fa fa-calendar-alt"></i></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link m-2 menu-item">Live Chat <i class="fa fa-phone"></i></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link m-2 menu-item">Locations</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link m-2 menu-item">Our Team</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link m-2 menu-item">About Us</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link m-2 menu-item">Donate</a>
        </li>
      </ul>
    </div>

    <div class="input-group col-md-4" id="search">
      <input class="form-control" id="search" type="search">
      <span class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>

  </nav>

  <div id="tint">
  </div>
  <div class="container-fluid" id="background">
  </div>
  <div class="container-fluid" id="main_content">
    {% comment %} <h1 id="slogan">An apple a day keeps the money away</h1> {% endcomment %}
    <h1 id="slogan">Our doctors can cure <strong id="cancer">cancer</strong>, <br> can yours? </h1>

    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#login">Login</button>
    <button type="button" class="btn btn-outline-info">Our Doctors</button>

    <!-- The Modal -->
    <div class="modal fade modal-custom" id="login">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content center">

          <!-- Modal Header -->
          <div class="modal-header text-center">
            <h4 class="modal-title">Log In</h4>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form id="login_form" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-info">Login</button>
            </form>
          </div>

        </div>
      </div>

    </div>

    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js">
  </script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>