{% extends 'scheduling/base.html' %}
{% load staticfiles %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated and user.user_type == "patient" %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block">
                  <!-- hidden spacer to center brand on mobile --></span>
            <a class="navbar-brand d-none d-lg-inline-block" href="{%url 'patient_portal'%}">
                  <img src="{% static 'images/caduceus.png' %}" alt="Logo" style="width:40px;">EZDoct
            </a>
            <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="{%url 'patient_portal'%}">
                  <img src="//placehold.it/40?text=LOGO" alt="logo">
            </a>
            <div class="w-100 text-right">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>
                  </button>
            </div>
      </div>

      <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
            <ul class="navbar-nav ml-auto flex-nowrap">
                  <li class="nav-item">
                        <a href="/patient/profile" class="nav-link m-2 menu-item">
                              Profile
                              <span class="icon">
                                    <i class="fas fa-user"></i>
                              </span>
                        </a>
                  </li>
                  <li class="nav-item">
                        <a href="{%url 'logout'%}" class="nav-link m-2 menu-item">
                              Logout
                              <span>
                                    <i class="fas fa-sign-out-alt"></i>
                              </span>
                        </a>
                  </li>
            </ul>
      </div>

</nav>

<div class="row container-fluid">
      <div class="col-3"></div>

      <div class="col-6">

            <div class="form_container">
                  <h2>{{heading}}</h2>
                  <hr>
                  <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-info">Edit</button>
                  </form>
                  <button class="btn btn-dark">
                        <a href="../home/">Return</a>
                  </button>
                  <br><br>
            </div>
      </div>

      <div class="col-3">
            {% if success  %}
            <div class="toast">
                  <div class="toast-header">
                        Success! &nbsp;
                        <small class="text-muted">{{data_input}}</small>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                  </div>
                  <div class="toast-body">
                        {{success}}
                  </div>
            </div>
            {% endif %}
      </div>
</div>

{% else %}
{% url index %}
{% endif %}
{% endblock %}