{% extends 'scheduling/base.html' %}
<!-- Links layout.html as a HTML template -->
{% load crispy_forms_tags %}
{% block content %}

      <div class="row">
            <div class="container col-2 col-lg-3"></div>

            <div class="container col-8 col-lg-6 box">

                  <div class="jumbotron form_container">
                        <h2>{{heading}}</h2>
                        <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                              {{ form|crispy }}
                              <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                  </div>
            </div>

            <div class="container col-2 col-lg-3"></div>
      <div>

{% endblock %}