{% extends 'scheduling/dashboard_template.html' %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row container-fluid">
    {% if user.is_authenticated and user.user_type == "doctor" %}

    <div class="col-2 sidebar">
        <br>
        <div id="profile">
            <img id="pfp" class="rounded-circle" src="{{user.doctor.picture.url}}">
            <br><br>
            <h5> Dr. {{user}} </h5>
            <h6>{{user.doctor.specialty}} </h6>
        </div>

        <a href="{% url 'doctor_portal' %}"><i class="fa fa-home"></i> Home</a>
        <a href="{% url 'edit_profile' %}"><i class="fa fa-id-badge"></i> My Profile</a>
        <a href="{%url 'logout' %}"> <i class="fas fa-sign-out-alt"></i> Logout </a>

        <div id="footer">
            <img src="{% static 'images/caduceus.png' %}" alt="Logo" style="width:30px;">
            <h6>EZDoc</h6>
        </div>

    </div>

    {% elif user.is_authenticated and user.user_type == "assistant" %}

    <div class="col-2 sidebar">
        <br>
        <div id="profile">
            <i class="fas fa-user-shield" style="font-size:60px;"></i>
            <br><br>
            <h5>{{user}} </h5>
            <h6>{{user.user_type}} </h6>
        </div>

        <a href="{% url 'assistant_portal' %}"><i class="fa fa-home"></i> Home</a>
        <a href="{% url 'make_appointments' %}"><i class="fa fa-calendar-plus"></i> Schedule Appointment</a>
        <a href="{% url 'add_user' %}"><i class="fa fa-user-plus"></i> Add User</a>
        <a href="{% url 'edit_profile' %}"><i class="fa fa-id-badge"></i> My Profile</a>
        <a href="{%url 'logout' %}"> <i class="fas fa-sign-out-alt"></i> Logout </a>

        <div id="footer">
            <img src="{% static 'images/caduceus.png' %}" alt="Logo" style="width:30px;">
            <h6>EzDoc</h6>
        </div>

    </div>
    {% endif %}

    {% if user.is_authenticated and user.user_type == "assistant" or user.user_type == "doctor" %}

    <div class="col-sm-10" id="table">
        <h2>All Appointments</h2>
        <hr>
        <div class="container-fluid">
            <table class="table table-dark table-striped fixed_header">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Timeslot</th>
                        <th>Doctor</th>
                        <th>Patient</th>
                        <th class="trash"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for all_appointment in all_appointments %}
                    <tr>
                        <td>{{ all_appointment.date }}</td>
                        <td>{{ all_appointment.get_timeslot_display }}</td>
                        <td>{{ all_appointment.doctor }}</td>
                        <td>{{ all_appointment.patient }}</td>
                        <td class="trash">
                            <form id="delete" action="{% url 'delete_appointment' %}" method="POST">
                                {% csrf_token %}
                                <a class="btn btn-danger" onclick="$('#delete').submit();"> 
                                    <i class="fa fa-trash"></i>
                                </a>
                                <input type="hidden" value="{{ all_appointment.id }}" name="appointment_id"> 
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>
</div>

{% else %}
{% url index %}
{% endif %}
{% endblock %}