{% extends 'scheduling/portal_template.html' %}
<!-- Links base.html as a HTML template -->
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated and user.user_type != "patient" or user.user_type != "doctor" %}
<!--check for login-->
<!-- Topbar -->
<div id="topbar">
    <h4>Welcome, Doctor</h4>
    <a href="{%url 'logout'%}" id="logout_icon"> Logout <span> <i class="fas fa-sign-out-alt"></i> </span> </a>
</div>

<div class="row">
    <div class="col-sm-2">
        <!-- Sidebar -->
        <div id="sidebar">
            <a href="appointments/">Appointments</a>
            <a href="patients/">Doctors</a>
            <a href="patients/">Patients</a>
            <a href="reports/">Reports</a>
            <a href="settings/">Setting</a>
        </div>

    </div>
    <div class="col-sm-10">
        <br>
        <!-- Main content -->
        <div class="row" id="preview_row">

            <div class="col-6" id="appointments">
                <h1>Upcoming Appointments</h1>

                <div class="container-fluid">
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Timeslot</th>
                                <th>Doctor</th>
                                <th>Patient</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ appointment.date }}</td>
                                <td>{{ appointments.get_timeslot_display }}</td>
                                <td>{{ appointments.doctor }}</td>
                                <td>{{ appointments.patient }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="col-6" id="pie_chart">
                <img src="{% static 'images/pie.png' %}">
            </div>
        </div>
        <br>
        <div class="row" id="icon_row">

            <!-- Appointments -->
            <div class="col-3 icon_box" id="icon1">
                <a href="../appointments">
                    <span class="icon">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                </a>
                <div class="icon_description">Appointments</div>
            </div>

            <!-- Patients -->
            <div class="col-3 icon_box" id="icon2">
                <a href="../patients">
                    <span class="icon">
                        <i class="fas fa-users"></i>
                    </span>
                </a>
                <div class="icon_description">Patients</div>
            </div>

            <!-- Reports -->
            <div class="col-3 icon_box" id="icon3">
                <a href="../reports">
                    <span class="icon">
                        <i class="fas fa-users"></i>
                    </span>
                </a>
                <div class="icon_description">Reports</div>
            </div>

            <!-- Settings -->
            <div class="col-3 icon_box" id="icon4">
                <a href="../settings">
                    <span class="icon">
                        <i class="fas fa-cogs"></i>
                    </span>
                </a>
                <div class="icon_description">Setting</div>
            </div>

        </div>

    </div>

</div>

{% else %}
{% url index %}
{% endif %}
{% endblock %}