{% extends 'scheduling/dashboard_template.html' %}
{% load staticfiles %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated and user.user_type == "doctor"  %}

<div class="row container-fluid">

  <div class="col-2 sidebar">
  <br>
    <div id="profile">
      <img id="pfp" class="rounded-circle" src="{{user.doctor.picture.url}}">
      <br><br>
      <h5> Dr. {{user}} </h5>
      <h6>{{user.doctor.specialty}} </h6>
      <br>
      <h6>Today's Appointment: {{appointments_today}}</h6>
    </div>

    <a href="{% url 'doctor_portal' %}"><i class="fa fa-home"></i> Home</a>
    <a href="../profile"><i class="fa fa-id-badge"></i> My Profile</a>
    <a href="{%url 'logout' %}"> <i class="fas fa-sign-out-alt"></i> Logout </a>
    
    <div id="footer"> 
       <img src="{% static 'images/caduceus.png' %}" alt="Logo" style="width:30px;">
       <h6>EZDoc</h6>
    </div>
   
  </div>

  <div class="col-10">
    <h2 id="dashboard">Dashboard</h2>
    <hr>
    <!-- Main content -->

    <div class="row container-fluid">

      <div class="col-5" id="upcoming">.
        <h3>Today's Appointments</h3>
        {% for appointment in appointments %}
        <div class="media p-3">
          <img src="{{ appointment.patient.picture.url }}" class="align-self-start mr-3"
            style="width:80px; height:80px;">
          <div class="vl"></div>
          &nbsp;
          <div class="media-body">
            <h4>{{ appointment.patient }} <small><i>{{ appointment.date }}</i></small></h4>
            <h5>{{ appointment.get_timeslot_display }}</h5>
          </div>
        </div>
        <br>
        {% endfor %}
      </div>

      <div class="col-6" id="icon_row">
        <div class="row container-fluid">
          <!-- Appointments -->
          <div class="col-6 icon_box" id="icon1">
            <a href="../appointments">
              <span class="icon row-icon">
                <i class="fas fa-calendar-alt"></i>
              </span>
            </a>
            <div class="icon_description">Appointments</div>
          </div>

          <!-- Patients -->
          <div class="col-6 icon_box" id="icon2">
            <a href="../patients">
              <span class="icon row-icon">
                <i class="fas fa-users"></i>
              </span>
            </a>
            <div class="icon_description">Patients</div>
          </div>

          <!-- Reports -->
          <div class="col-6 icon_box" id="icon3">
            <a href="../reports">
              <span class="icon row-icon">
                <i class="fas fa-file"></i>
              </span>
            </a>
            <div class="icon_description">Reports</div>
          </div>


          <!-- Profile -->
          <div class="col-6 icon_box" id="icon4">
            <a href="../profile">
              <span class="icon row-icon">
                <i class="fas fa-id-badge"></i>
              </span>
            </a>
            <div class="icon_description">Profile</div>
          </div>

        </div>

      </div>

    </div>

    {% if success %}
    <div class="alert alert-success alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Success!</strong> {{success}}
    </div>
    {% endif %}

  </div>
</div>

{% else %}
{% url index %}
{% endif %}
{% endblock %}