{% extends 'scheduling/base.html' %} <!-- Links base.html as a HTML template -->
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated%}    <!--check for login-->
        <div id="header">
            <h4>Welcome,</h4>
            <a href="{%url 'logout'%}" id="logout_icon"> Logout <span> <i class="fas fa-sign-out-alt"></i> </span> </a>
        </div>
         <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                {{ form|crispy }} 
                <button type="submit" class="btn btn-primary">Signup</button>
                </p>
          </form>
    {% else %}
    <script>window.location.href = "../../accounts/login/"</script>
    {% endif %}
{% endblock %}