{% extends 'scheduling/base.html' %} <!-- Links base.html as a HTML template -->
{% load static %}
{% comment %} {% load scheduling_tags %} {% endcomment %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css"/>
{% load crispy_forms_tags %}

{% block content %}
    {% if user.is_authenticated and user.user_type == "patient" %} <!--check for login-->
        <!-- Header -->
        <div id="header">
            <h4>Welcome, Patient</h4>
            <a href="{%url 'logout'%}" id="logout_icon"> Logout <span> <i class="fas fa-sign-out-alt"></i> </span> </a>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <a href="../appointments/">Appointments</a>
            <a href="../patients/">Patients</a>
            <a href="../reports/">Reports</a>
            <a href="../settings/">Setting</a>
        </div>

        <!-- Main content -->
        
        <div class="row" id="icon_row">
            
            <!-- Appointments -->
            <div class="col-3 icon_box" id="icon1"> 
                <a href="../appointments">
                    <span class="icon">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                </a>
                <div class="icon_description">Appointments</div>
            </div>

            <!-- Patients -->
            <div class="col-3 icon_box" id="icon2"> 
                <a href="../register">
                    <span class="icon">
                        <i class="fas fa-users"></i>
                    </span>
                </a>
                <div class="icon_description">Register</div>
            </div>

            <div class="col-3 icon_box" id="icon3"> 
                <a href="../reports">
                    <span class="icon">
                        <i class="fas fa-newspaper"></i>
                    </span>
                </a>
                <div class="icon_description">Reports</div>
            </div>

            <!-- Settings -->
            <div class="col-3 icon_box" id="icon4"> 
                <a href="../settings">
                    <span class="icon">
                        <i class="fas fa-cogs"></i>
                    </span>
                </a>
                <div class="icon_description">Setting</div>
            </div>

        </div>
    {% else %}
        <script>window.location.href = "../../accounts/login/"</script>
    {% endif %}
{% endblock %}