{% extends 'scheduling/dashboard_template.html' %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

  {% block content %}
  {% if user.is_authenticated and user.user_type == "assistant" %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="d-flex flex-grow-1">
      <span class="w-100 d-lg-none d-block">
        <!-- hidden spacer to center brand on mobile --></span>
      <a class="navbar-brand d-none d-lg-inline-block" href="">
        <img src="{% static 'images/caduceus.png' %}" alt="Logo" style="width:40px;">Assistant Portal
      </a>
      <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="">
        <img src="//placehold.it/40?text=LOGO" alt="logo">
      </a>
      <div class="w-100 text-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
      <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
          <a href="#" class="nav-link m-2 menu-item nav-active">
            Home Page
            <span class="icon">
              <i class="fas fa-heartbeat"></i>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/patient/profile" class="nav-link m-2 menu-item">
            Profile
            <span class="icon">
              <i class="fas fa-user"></i>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="{%url 'logout'%}" class="nav-link m-2 menu-item">
            Logout
            <span>
              <i class="fas fa-sign-out-alt"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="input-group col-md-4" id="search">
      <input class="form-control" id="search" type="search">
      <span class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>

  </nav>

  <div class="row container-fluid">
    
    <div class="col-6" id="appointment">
        <h1>Appointment Search</h1>
        <form method="get" action="">
        <div class="form-group">
            {{filter.form|crispy}}
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>



    <div class="col-6" id="upcoming">
      <h2>Search Result</h2>
      <hr>
      {% for appointment in filter.qs %}
      <div class="media p-3">
        <div class="vl"></div>
        &nbsp;
        <div class="media-body">
          <h4>Dr. {{appointment.doctor}} - {{ appointment.patient }} <small><i>{{ appointment.date }}</i></small></h4>
          <h5>{{ appointment.get_timeslot_display }}</h5>
        </div>
      </div>
      <br>
      {% endfor %}
    </div>
    <br>
    <div class="row" id="icon_row">


  {% else %}
  {% url index %}
  {% endif %}
  {% endblock %}
