{% extends 'scheduling/dashboard_template.html' %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row container-fluid">

  <div class="col-sm-2 sidebar">
    <br>
    {% if user.is_authenticated and user.user_type == "doctor" %}

    <div id="profile">
      <img id="pfp" class="rounded-circle" src="{{user.doctor.picture.url}}">
      <br><br>
      <h5> Dr. {{user}} </h5>
      <h6>{{user.doctor.specialty}} </h6>
    </div>

    <h6>Appointments scheduled for today: </h6>
    <a href="{% url 'doctor_portal' %}"><i class="fa fa-home"></i> Home</a>
    <a href="{% url 'edit_profile' %}"><i class="fa fa-id-badge"></i> My Profile</a>
    <a href="{%url 'logout' %}"> <i class="fas fa-sign-out-alt"></i> Logout </a>

      <div id="footer">
        <img src="{% static 'images/caduceus.png' %}" alt="Logo" style="width:30px;">
        <h6>KungFuMD</h6>
      </div>

  </div>

    <h2 id="dashboard">Dashboard</h2>
    <br>
    <div class="col-sm-4" id="appointment">
      <h1>Appointment Search</h1>
      <form method="get" action="">
        <div class="form-group">
          {{filter.form|crispy}}
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>

    <div class="col-sm-4" id="upcoming" style="overflow:scroll">
      <h2>Search Result</h2>
      <hr>
      {% for appointment in filter.qs %}
      <div class="media p-3">
        <div class="vl"></div>
        &nbsp;
        <div class="media-body">
          <h4>Dr. {{appointment.doctor}} - {{ appointment.patient }} <small><i>{{ appointment.date }}</i></small></h4>
          <h5>{{ appointment.get_timeslot_display }}</h5>
        </div>
      </div>
      <br>
      {% endfor %}
    </div>


   {% elif user.is_authenticated and user.user_type == "assistant" %}

  <div id="profile">
      <i class="fas fa-user-shield" style="font-size:60px;"></i>
      <br><br>
      <h5>{{user}} </h5>
      <h6>{{user.user_type}}</h6>
    </div>

    <a href="{% url 'assistant_portal' %}"><i class="fa fa-home"></i> Home</a>
    <a href="{% url 'make_appointments' %}"><i class="fa fa-calendar-plus"></i> Schedule an Appointment</a>
    <a href="{% url 'add_user' %}"><i class="fa fa-user-plus"></i> Add a User</a>
    <a href="{% url 'edit_profile' %}"><i class="fa fa-id-badge"></i> My Profile</a>
    <a href="{%url 'logout' %}"> <i class="fas fa-sign-out-alt"></i> Logout </a>

    <div id="footer">
      <img src="{% static 'images/caduceus.png' %}" alt="Logo" style="width:30px;">
      <h6>KungFuMD</h6>
    </div>
    
  </div>
  <div class="col-sm-4" id="appointment">
      <h1>Appointment Search</h1>
      <form method="get" action="">
        <div class="form-group">
          {{filter.form|crispy}}
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>

    <div class="col-sm-4" id="upcoming" style="overflow-y:scroll;height:400px;">
      <h2>Search Result</h2>
      <hr>
      {% for appointment in filter.qs %}
      <div class="media p-3">
        <div class="vl"></div>
        &nbsp;
        <div class="media-body">
          <h4>Dr. {{appointment.doctor}} - {{ appointment.patient }} <small><i>{{ appointment.date }}</i></small></h4>
          <h5>{{ appointment.get_timeslot_display }}</h5>
        </div>
      </div>
      <br>
      {% endfor %}
    </div>

</div>


{%endif%}


{% if user.is_authenticated %}

</div>


{% else %}
{% url index %}
{% endif %}
{% endblock %}