body {
    width: 100%;
    height: 100%;
    background-color: #e6e6fa;
}

.center {
    text-align: center;
}

.btn-dark a {
    color: white;
}

a:hover {
    text-decoration: none;
}

#background {
    height: 92vh;
    background-image: url("../images/doctor3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100vw 92vh;
    /* background-size: auto; */
    /* background-position: center; */
    z-index: -999;
    text-align: center;
}

#tint {
    z-index: 0;
    height: 92vh;
    width: 100%;
    position: absolute;
    top: 8vh;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.vl {
    border-left: 4px solid #39CCCC;
    height: 70px;
}

#main_content {
    z-index: 99999;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 30%;
    left: 5%;
}

nav {
    height: 8vh;
}

#search {
    width: 10vw;
}

#cancer {
    color: white;
}

#slogan {
    font-family: 'Encode Sans Expanded';
    font-size: 75px;
    color: #7FDBFF;
}

/*************** jumbotron forms css ******************/

.form_container>* {
    display: inline;
}

.form_container {
    padding: 32px 32px 32px 32px;
    background: rgba(0, 31, 63, 0.7);
    color: #DDDDDD;
}

.text-muted {
    color: #AAAAAA !important;
}

/*************** css for the calendar ******************/
.bootstrap-datetimepicker-widget table td.active{
    background-color:#e6e6fa;
    color:black;
}

.bootstrap-datetimepicker-widget table td.active:hover, 
.bootstrap-datetimepicker-widget table td.day:hover{
    background-color:#17a2b8;
    color: white;
}

.bootstrap-datetimepicker-widget table td.active.today:before{
    border-bottom-color: #17a2b8;
}

.bootstrap-datetimepicker-widget table td.day {
    line-height: 50px;
}

.datepicker table tr td,
.datepicker table tr th {
    width: 30px;
    height: 30px;
}